.root {
  position: relative;
}

.container {
  position: relative;
}

.icon {
  width: 21px;
  height: 21px;
  opacity: 0.2;
  position: absolute;
  left: 15px;
  top: 15px;
}

.input {
  font-size: 16px;
  padding: 12px 15px;
  padding-left: 40px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: all 0.25s ease-in-out;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 350px;
  }
}

.clearIcon {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 17px;
  top: 17px;
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
